[".config/zsh/plugins/zsh-defer"]
    type = "git-repo"
    url = "https://github.com/romkatv/zsh-defer.git"
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-autosuggestions.zsh"]
	type = "file"
	url = "https://raw.githubusercontent.com/zsh-users/zsh-autosuggestions/refs/heads/master/zsh-autosuggestions.zsh"
	refreshPeriod = "168h"
[".config/zsh/plugins/zsh-syntax-highlighting"]
	type = "git-repo"
	url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
	refreshPeriod = "168h"
