# TODO:
# - restructure hosts/hardware object
# - gpu autodetect or choice?
# - investigate whether populating variables with templates inside chezmoi.yaml is possible
#   would be nice to be able to separate some if/else stuff into their own files
{{- $data := . }}
{{- $_ := set $data "host" (default (dict) (get $data "host")) -}}
{{- $_ := set $data "user" (default (dict) (get $data "user")) -}}
 
 {{- $headless := false -}}
 {{- $ephemeral := false -}}

{{- $headless := false -}}
{{- $ephemeral := false -}}
{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- $ephemeralEnvOrUsername := or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode" "devcontainer") -}}
{{- $ephemeralCgroup := and (stat "/proc/1/cgroup") (output "cat" "/proc/1/cgroup" | regexMatch "(docker|lxc)") -}}
{{- if or $ephemeralEnvOrUsername $ephemeralCgroup -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{-   writeToStdout "Chezmoi is running in a container.\n" -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if $ephemeral -}}
{{-   $chassisType = "ephemeral" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $chassisType = "wsl" }}
{{-   else -}}
{{-     $chassisType = (output "hostnamectl" "chassis") }}
{{-   end -}}
{{- else if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") }}
{{- end }}

{{- $desktopEnv:= "" }}
{{- if eq .chezmoi.os "linux" }}
  {{- if env "WAYLAND_DISPLAY" }}
    {{- $desktopEnv = "wayland" }}
  {{- else if env "DISPLAY" }}
    {{- $desktopEnv = "x11" }}
  {{- end }}
{{- else if eq .chezmoi.os "darwin" }}
  {{- $desktopEnv = "aqua" }}
{{- else if eq .chezmoi.os "windows" }}
  {{- $desktopEnv = "explorer" }}
{{- end }}

{{- if $ephemeral -}}
{{-   $chassisType = "ephemeral" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $chassisType = "wsl" }}
{{-   else -}}
{{-     $chassisType = (output "hostnamectl" "chassis") }}
{{-   end -}}
{{- else if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") }}
{{- end }}


{{- $passwordManager := false -}}
{{- if $ephemeral -}}
    {{- $passwordManager = false }}
{{- else if eq .chezmoi.os "linux" -}}
    {{- $passwordManager = true }}
{{- end }}


{{- $hostname := "" }}
{{- if eq .chezmoi.os "linux" }}
  {{- $hostname = (output "head" "-n1" "/etc/hostname") }}
{{- else if eq .chezmoi.os "darwin" }}
  {{- $hostname = (output "head" "-n1" "/etc/hostname") }}
{{- else if eq .chezmoi.os "windows" }}
  {{- $hostname = .chezmoi.hostname }}
{{- end }}

{{/* TODO: Add Windows and MacOS */}}
{{- $zsh_config:= "" }}
{{- if eq .chezmoi.os "linux" -}}
{{-   $zsh_config = (joinPath .chezmoi.homeDir "/.config/zsh") }}
{{- end -}}

data:
  hostname: "{{ $hostname | lower | trim -}}"
  host:
    arch: "{{ .chezmoi.arch }}"
    distro:
      family: "{{ .chezmoi.os }}"
      id: "{{ get .chezmoi.osRelease "id" | default .chezmoi.os }}"
      de: "{{ $desktopEnv }}"
    homeParentFolder: "{{ if eq .chezmoi.os "linux" }}/home{{ else if eq .chezmoi.os "darwin" }}/Users{{ else }}C:\Users{{ end }}"
    headless: "{{ $headless }}"
    type: "{{ $chassisType | lower | trim -}}"
  features:
    passwordManager: "{{ $passwordManager }}"
  domain:
    home: "hellhe.im"
    personal: "erikhellman.com"
  path:
    zshConfig: "{{ $zsh_config }}"
    xdg:
      config: "{{ .chezmoi.homeDir }}/.config"
      cache: "{{ .chezmoi.homeDir }}/.cache"
      data: "{{ .chezmoi.homeDir }}/.local/share"
      state: "{{ .chezmoi.homeDir }}/.local/state"
      bin: "{{ .chezmoi.homeDir }}/bin"

encryption: "age"
age:
  identity: "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient: "age17w6p4h59e6fg4alujufwvhjja0efm3g55mtmkmglnpsyg9c40c5qe97ek8"
add:
  secrets: "warning"
