# precision
{{ ( onepasswordDetailsFields "6vnctgwfvt477c3i65jzsu6ngi" ).public_key.value }}
# revna
{{ ( onepasswordDetailsFields "67wfgitjjukxykciy6jjzmn7pa" ).public_key.value }}
# ios
{{ ( onepasswordDetailsFields "4rda6kt7lt7gh3sjpb2uzk2xgq" ).public_key.value }}
# draupnir
{{ ( onepasswordDetailsFields "nmdmjhcc4gxkjw3ehyskqf5uaq" ).public_key.value }}
# revnarch
{{ ( onepasswordDetailsFields "vl7m7f2vgxakav4kmcdoxqyrli" ).public_key.value }}
# lodur 
{{ ( onepasswordDetailsFields "vvr46f7mbrsrpgc33ztq22hzoq" ).public_key.value }}

