/* Workspaces module styling */
#workspaces {
  background-color: @mantle;
  padding: 6px;
  border-radius: 24px;
}

#workspaces button {
  background-color: transparent;
  transition-property: all;
  padding: 0px 7px;
  color: @overlay1;
  border-radius: 24px;
}

#workspaces button:hover {
  transition-duration: 100ms;
  padding: 0px 15px;
  color: @text;
  background-color: @surface1;
}

#workspaces button.active {
  background-color: @text;
  color: @base;
  transition-duration: 100ms;
  border-radius: 24px;
  padding: 0px 14px;
  transition-property: all;
}

#workspaces button.focused {
  background-color: @subtext0;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#workspaces button.special {
  margin-left: 4px;
}

#workspaces button.special.active {
  background-color: @subtext0;
  color: @base;
}
