/* Focused window styling */
#window {
  transition-duration: 100ms;
  transition-property: all;
  color: @text;
  padding: 5px;
  background-color: @mantle;
  border-radius: 24px;
}

window#waybar.hidden {
  opacity: 0.2;
}

windows#waybar.empty #window {
  background-color: transparent;
}

window#waybar.empty {
  background-color: transparent;
}
