### shell
export LANG="en_US.UTF-8"
export EDITOR=nvim

### zsh
export ZSH_CONFIG="$XDG_CONFIG_HOME/zsh"
export ZSH_PLUGIN_DIR="$ZSH_CONFIG/plugins"

### ripgrep
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/.ripgreprc"

### MANPAGER
## "bat" as manpager
#export MANPAGER="sh -c 'col -bx | bat -l man -p'"

## "nvim" as manpager
export MANPAGER="env NVIM_APPNAME=nvim-hellman nvim -c 'set ft=man' -"
#export MANPAGER="nvim -c 'set ft=man' -"

### bat
export BAT_CONFIG_PATH="$XDG_CONFIG_HOME/bat/config"

### cargo
export CARGO_HOME="$XDG_DATA_HOME/cargo"
