{{- if eq .chezmoi.os "linux" }}
{{- if eq .features.passwordManager "true" }}

{{- $pacman := list -}}
{{- $aur := list -}}

{{- if eq .host.headless "false" -}}
{{- $aur = append $aur "1password" -}}
{{- $pacman = append $pacman "gnome-keyring" -}}
{{- end -}}
{{- $aur = append $aur "1password-cli" -}}

#!/bin/bash

set -e

# TODO: Copy the ssh config to 1password

{{ if $pacman -}}
sudo pacman -S --needed {{ $pacman | join " " }}
{{- end }}

{{ if $aur -}}
paru -S --needed {{ $aur | join " " }}
{{ end -}}

{{- end }}
{{- end -}}
