{{ if eq .chezmoi.os "linux" -}}
  #!/bin/bash

{{ if eq .host.distro.id "arch" -}}

  {{ $pkg := ( includeTemplate ( print .host.distro.id "/packages.yaml.tmpl" ) . | fromYaml ) }}
  sudo pacman -S --needed {{ $pkg.pacman | join " " }}
  paru -S --needed {{ $pkg.aur | join " " }}
{{- end }}

{{- end }}
