{{ if eq .chezmoi.os "linux" -}}

{{ if eq .host.distro.id "arch" -}}

#!/bin/bash

# exit on error
set -e

# install paru if it is not already installed
if [ ! "$(command -v paru)" ]; then
  cd ~
  sudo pacman -S --needed base-devel
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si
  cd ..
  rm -rf paru
fi

{{ end -}}

{{ end -}}
