---
pacman:
  - base-devel
  - cmake
  - meson
  - cpio
  - pkg-config
  - zsh
  - bat # cat replacement
  - eza # ls replacement
  - zoxide # cd replacement
  - btop # system monitor tui
  - dust # disk space
  - neovim
  - tailscale
  - curl
  - ffmpeg
  - ffmpegthumbnailer
  - fd
  - fzf
  - obsidian # note-taking
  - pyenv # python version manager
  - git
  - git-delta
  # keyring
  - gnome-keyring
  - seahorse # gui to create gnome-keyring
  # bluetooth
  - bluez
  - bluez-utils
  - bluetui
  # fonts
  - ttf-jetbrains-mono-nerd
  - ttf-0xproto-nerd
  - ttf-agave-nerd
  # file manager
  - yazi
  # languages
  - go
  - deno
  - rustup
  # utils
  - timeshift # snapshot backups
  - tmux
  - ripgrep
  - jq
  - gum
  - gawk
  - gping
  - swappy # screenshot editing
  - unzip
  - man-db
{{- if eq .host.headless "false" }}
  # non-headless
  - grim
  - slurp
  - easyeffects
  - noto-fonts-emoji # emoji font support
  # image viewer
  - imv
  # video player
  - vlc
  - mpv
  # browsers
  - firefox
  - firefox-developer-edition
  # qt
  - qt5ct
  - qt6ct
{{- end }}
{{- if eq .host.type "laptop" }}
  - powertop # laptop power mgmnt
  - power-profiles-daemon # power profiles
{{- end }}
{{- if eq .host.distro.de "wayland" }}
  # wayland
  - thunar
  - rofi-wayland # launcher
  - cliphist
  - wl-clipboard
  {{- if eq .host.headless "false" }}
  # non-headless
  - waybar # top bar
  {{- end }}
{{- end }}

aur:
  - bun-bin
  - fnm-bin # node version manager
  - lazygit
  - lazydocker
{{- if eq .host.distro.de "wayland" }}
  - btrfs-assistant
  {{- if eq .host.headless "false" }}
  - grimblast-git
  - google-chrome
  - google-chrome-canary
  - zen-browser-bin
  - wl-screenrec
  - parsec-bin
  - swayosd-git
  {{- end }}
{{- end }}
