# This is the 1Password SSH agent config file, which allows you to customize the
# behavior of the SSH agent running on this machine.
#
# You can use it to:
# * Enable keys from other vaults than the Private vault
# * Control the order in which keys are offered to SSH servers
#
# EXAMPLE
#
# By default, all keys in your Private vault(s) are enabled:
#
#  [[ssh-keys]]
#  vault = "Private"
#
# You can enable more keys by adding more `[[ssh-keys]]` entries.
# For example, to first enable item "My SSH Key" from "My Custom Vault":
#
#  [[ssh-keys]]
#  item = "My SSH Key"
#  vault = "My Custom Vault"
#
#  [[ssh-keys]]
#  vault = "Private"
#
# You can test the result by running:
#
#  SSH_AUTH_SOCK=~/.1password/agent.sock ssh-add -l
#
# More examples can be found here:
#  https://developer.1password.com/docs/ssh/agent/config

[[ssh-keys]]
item = "{{ .chezmoi.hostname }}"
vault = "code"

# rsa key (azure devops do not support ed25519 keys, even in 2025)
[[ssh-keys]]
item = "{{ .chezmoi.hostname }}-rsa"
vault = "code"

{{- if or (eq .chezmoi.hostname "revnarch") (eq .chezmoi.hostname "draupnir") }}
[[ssh-keys]]
item = "bvgv34gqv2bgfpvelyucsq5rgi"
vault = "2xfurusuxe2d2kf5reoaiu7kne"
{{- end }}
