#battery {
  color: @text;
}

.plugged {}

.plugged.charging {
  color: @green;
}

.critical:not(.charging) {
  background-color: @red;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @base;
  }
}
